<html>
	<head>
		{% load static %}
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<link href = "{% static 'thirdparty/materialize/css/materialize.css' %}" rel = "stylesheet">
		<link href = "{% static 'style.css' %}" rel = "stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
			$(document).ready(function(){
    			$('.sidenav').sideNav();
  			})
		</script>
			
	</head>

	<body class = "body" style = "display: flex; min-height: 100vh; flex-direction: column;">
		<div class="navbar-fixed">
		{% if not logged_in %}
			<nav class = "grey lighten-5" style = "position: fixed; z-index:999;">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo black-text">Notesite</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" style = "color: black;">menu</i></a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a class="black-text" href="/login">Login</a></li>
						<li><a class="black-text" href="/register">Register</a></li>
						<li><a class="black-text" href="/">Home</a></li>
					</ul>
				</div>
			</nav>
			<ul class="sidenav" id="mobile-demo">
			    <li><a class="black-text" href="/login">Login</a></li>
				<li><a class="black-text" href="/register">Register</a></li>
				<li><a class="black-text" href="/">Home</a></li>
			</ul>
		{% else %}
			<nav class = "grey lighten-5">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo black-text">Notesite</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" style = "color: black;">menu</i></a>
					<ul id="nav-mobile" class="right hide-on-med-and-down" >
						<!-- TODO: redirect to profile when clicked on name -->
						<li><a class="black-text" href="/users/{{request.user}}">{{request.user}}</a></li>
						<li><a class="black-text" href="/create">Create</a></li> 
						<li><a class="black-text" href="/">Home</a></li>
						<li><a class="black-text" href="/logout">Logout</a></li>
					</ul>
				</div>
			</nav>
			<ul class="sidenav" id="mobile-demo">
			    <li><a class="black-text" href="/users/{{request.user}}">{{request.user}}</a></li>
				<li><a class="black-text" href="/create">Create</a></li> 
				<li><a class="black-text" href="/">Home</a></li>
				<li><a class="black-text" href="/logout">Logout</a></li>
			</ul>
		</div>

		{% endif %}
		{% if messages %}
			{% for message in messages %}
				<script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
			{% endfor %}
		{% endif %}

		<main class = "main" style = "flex: 1 0 auto;">
			<div class = "container" style="margin-top: 5%">
				<br><br>
				{% block content %}
				{% endblock %}
			</div>
		</main>

		<br><br><br><br><br><br><br><br><br><br><br><br>


		 <footer class="page-footer grey darken-4">
		  <div class="container">
			<div class="row">
			  <div class="col l6 s12">
				<h5 class="white-text">Notesite</h5>
				<p class="grey-text text-lighten-4">IIIT Bangalore, 26/C, Hosur Rd, Electronics City Phase 1, Electronic City, Bengaluru, Karnataka 560100</p>
			  </div>
			  <div class="col l4 offset-l2 s12">
				<h5 class="white-text">A Zense Product</h5>
				<img src = "{% static 'icons/zense_logo.jpg' %}" width = "400" height="170" >
				<!-- <ul>
				  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
				  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
				  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
				  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
				</ul> -->
			  </div>
			</div>
		  </div>
		  <div class="footer-copyright">
			<div class="container">
			© 2020 Copyright Notesite
			<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		  </div>
		</footer>
		<script  src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js">
			$(document).ready(function(){
				$('.sidenav').sidenav();
			});
		</script>
		
	</body>
</html>
