<html>
	{% extends 'main/header.html'%}
	<body>

	{% block content %}
	<h2>{{note.note_title}}</h2>
		<p class="flow-text"><b>Course: </b>{{course}}</p>
		<p class="flow-text"><b>Chapter: </b> {{chapter.chapter_name}}</p>
		<p class="flow-text" style = "width: 50%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><b>Author: </b><a href ="/users/{{note.note_author}}">{{note.note_author}}</a></p>
		<br>
		<p class="flow-text"><b>Summary: </b>{{note.note_summary}}</p>
		<p class="flow-text"><b>Notes: </b> <a href= "{{note.note_fileurl}}"> Click here</a> </p>
		<br>
		{% if note.note_author == request.user.username %}
		<form method = 'POST' action = '.' class="col s12">
			{% csrf_token %}
			<p><button  onclick="return confirm('Are you sure you want to delete this note? You will not be able to recover the note again.')" type = "submit" class = "waves-effect waves-light btn" style = "background-color: red">Delete</button></p>
		</form>
		{% endif %}
  {% endblock %}
	</body>
</html>


